<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pages.css"/>
  </head>
  <body>
    <h1 class="head">Current total revenue: $<%= total_revenue(current_user) %></h1>
    <h2 class="subhead">Number of sales you have logged: <%= current_user.sales.count %></h2>
    <h2 class="subhead">Here are your sales:</h3>
    <img src="images/sale.png"> 

    <section>
      <% @sales.each do |sale| %>
        <% if authorized_edit?(sale) %>
            <h3><a href="/sales/<%= sale.id %>" class="sale"><%= sale.title %>: $<%= sprintf '%.2f', sale.amount %></a></h3>
        <% end%>
      <% end %>
    </section>

    <br><br>
  </body>
</html>










